<footer class="footer">
  <div class="container footer__container">
    <div>
      {% set logo = { uno: '#FFFFFF', dos: '#C3321D' } %}
      <a href="#top">{% include '../components/TextLogo.njk' %}</a>
    </div>

    <div class="footer__nav">
      <ul class="footer__list">
        {% for link in navLinks %}
          <li class="footer__link">
            <a href="{{ link.href }}">{{ link.label }}</a>
          </li>
        {% endfor %}
      </ul>

      <a class="footer__flag" {% if lang === 'ru' %} href="/en" {% elif lang === 'en' %} href="/" {% endif %} >
        {{ flag(countryFlag) }}
      </a>
    </div>
  </div>
</footer>
