<header class="header">
  <div class='container header__container'>
    <div>
      {% set logo = { uno: '#0F0E0E', dos: '#C3321D' } %}
      <a href="#top">{% include '../components/TextLogo.njk' %}</a>
    </div>

    <div class="header__nav">
      <nav class="nav">
        <ul class="nav__list">
          {% for link in navLinks %}
            <li class="nav__item">
              <a href="{{ link.href }}">{{ link.label }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>

      <a {% if lang === 'ru' %} href="/en" {% elif lang === 'en' %} href="/" {% endif %} class="header__flag">
        {{ flag(countryFlag) }}
      </a>
    </div>

    <div class="header__burger">
      <button class="burger" id="mobile-menu-btn">
        <span class="burger__bar"></span>
      </button>
    </div>
  </div>
</header>
