<!doctype html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8">
    <title>Aromastar | Events</title>
    <meta name="description" content="Aromastar - event агенство">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content=""> #}

    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <meta name="theme-color" content="#C3321D">
    <link rel="manifest" href="site.webmanifest">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,700&family=Inter:wght@400&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="sass/app.sass">
    <script src="ts/app.ts" defer type="module"></script>
  </head>

  <body>
    {% block main %}{% endblock %}
  </body>
</html>
