<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Aromastar</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <meta name="theme-color" content="">

    <link rel="stylesheet" href="sass/app.sass">
    <script src="ts/app.ts" defer></script>
  </head>

  <body>sas
    {% block main %}{% endblock %}

  </body>
</html>
