/**
 * Common styles
 */
html
  font-size: 62.5%
  scroll-behavior: smooth

body
  color: $text-main-color
  font: 400 #{ $text-main-size }/#{ $text-main-line-height } $text-font-family
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.container
  max-width: #{ $max-page-width + 'px' }
  width: 95%
  margin: 0 auto

.content
  max-width: 1100px
  margin-left: auto

  &__inner
    max-width: 760px
    margin-right: auto

.section
  padding-bottom: 130px
  &--grey
    background-color: $grey-200

.header
  $header-break-point: 720

  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 100
  background-color: $white
  box-shadow: 0 0 10px rgba($black, .4)

  &__container
    min-height: 80px
    display: flex
    justify-content: space-between
    align-items: center

    @include max-width($header-break-point)
      min-height: 60px

  &__nav
    display: flex
    align-items: center
    @include max-width($header-break-point)
      display: none

  &__flag
    display: flex
    margin-left: 80px
    @include max-width($header-break-point)
      display: none

  &__burger
    @include min-width($header-break-point)
      display: none


.text-logo
  display: block
  @include max-width(600)
    width: 140px


.burger
  display: flex
  justify-content: center
  align-items: center
  width: 32px
  height: 32px
  padding: 8px

  &__bar
    position: relative
    display: block
    width: 100%
    height: 2px
    background-color: $black
    border-radius: 2px

    &::before,
    &::after
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      border-radius: inherit
      background-color: inherit

    &::before
      margin-top: -4px

    &::after
      margin-top: 4px

.nav
  &__list
    display: flex

  &__item
    position: relative
    font-size: 1.4rem
    letter-spacing: -0.04em
    line-height: 1

    &::after
      content: ''
      position: absolute
      bottom: 0
      left: 50%
      transform: translate3d(-50%, 10px, 0) scale(0)
      width: 20px
      height: 2px
      border-radius: 4px
      background-color: $accent-color
      transition: transform 300ms

    & + &
      margin-left: 40px

    &:hover,
    &.is-active
      &::after
        transform: translate3d(-50%, 10px, 0) scale(1)

.hero
  position: relative

  &__inner
    display: flex
    align-items: center
    max-width: 1220px
    min-height: 100vh
    margin-left: auto
    padding: 180px 0

  &__heading
    color: $white

  &__text
    max-width: 475px
    margin-top: 1em
    margin-bottom: 3.5em
    color: $grey-300
    @include fluid-font(16, 20, 500, 1520)
    line-height: 150%

  &__bg
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: -1
    pointer-events: none

    &::after
      content: ''
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      background-color: rgba($black, .7)
      // background-image: url('/assets/dot.png')
      background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='17' cy='17' r='1' fill='white' fill-opacity='0.2'/%3E%3C/svg%3E%0A")

  &__scroller
    position: absolute
    bottom: 0
    left: 50%
    transform: translate(-50%, -100%)
    @include max-width(720)
      transform: translate(-50%, -200%)


.round-btn
  display: inline-flex
  justify-content: center
  align-items: center
  @include fluid-font(17, 20, 500, 1520)
  color: $white
  font-family: $title-font-family
  line-height: 1
  padding: 1.1em 2.2em
  background-color: rgba($accent-color, 0.85)
  border-radius: 2em

  &__label
    display: block
    margin-right: 30px
    font-weight: 700

  &__icon
    transition: transform 300ms

  &:hover
    .round-btn__icon
      transform: translate3d(10px, 0, 0)

.section-line
  padding: 100px 0

  &__bar
    display: block
    width: 50px
    height: 2px
    border-radius: 4px
    background-color: $accent-color
    margin: 0 auto

.image
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  object-fit: cover
  object-position: center
  transition: opacity 500ms

  &.image-loaded
    opacity: 0


.about
  position: relative

  &__img
    position: relative
    padding-top: 40%
    margin: 40px 0 63px 0

    &::after
      content: ''
      position: absolute
      right: 52px
      bottom: 0
      width: 3px
      height: 18%
      border-radius: 4px
      transform: translate(0, 50%)
      background-color: $accent-color

  &__benefits
    margin: 80px 0

  &__benefit
    & + &
      margin-top: 20px

  &__bg
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: -1

.benefit
  background-color: $grey-200
  border-top: $grey-300 solid 1px
  border-bottom: $grey-300 solid 1px
  padding: 2.8em
  font-size: 1.4rem
  @include max-width(600)
    padding: 1.8em

  &__title
    color: $accent-color
    font-size: 1.45em

  &__text
    color: $grey-500
    margin-top: 1em
    line-height: 1.4

.btn
  position: relative
  z-index: 1
  display: flex
  justify-content: center
  align-items: center
  font-family: $title-font-family
  color: $accent-color
  font-size: 1.8rem
  font-weight: 700
  border: 2px solid currentColor
  padding: 0.8em 1.6em
  transition: color 300ms

  &::before
    content: ''
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: -1
    background-color: $accent-color
    // opacity: 0
    transform: scale3d(1, 0, 1)
    // transform-origin: bottom
    transition: opacity 300ms, transform 300ms

  &:hover
    color: $white
    &::before
      opacity: 1
      transform: scale3d(1, 1, 1)

.services
  &__video
    position: relative
    margin-bottom: 80px
    &::before
      content: ''
      display: block
      padding-top: 57%

  &__video-btn
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba($black, .5)
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='17' cy='17' r='1' fill='white' fill-opacity='0.16'/%3E%3C/svg%3E%0A")
    transition: opacity 300ms

    &.is-hidden
      opacity: 0

    &::after
      content: ''
      position: absolute
      top: 50%
      left: 50%
      transform: translate3d(-50%, -50%, 0)
      width: 100px
      height: 100px
      background-image: url("data:image/svg+xml,%3Csvg width='36' height='39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36 19.5.7 38.1V1L36 19.5Z' fill='%23fff'/%3E%3C/svg%3E")
      background-repeat: no-repeat
      background-position: center
      transition: transform 300ms, opacity 300ms

    &:hover
      &::after
        opacity: .9
        transform: translate3d(-50%, -50%, 0) scale3d(0.9, 0.9, 0.9)


  &__events
    padding: 60px 0 100px

  &__list
    margin-bottom: 80px

  &__item
    & + &
      margin-top: 40px

.events
  overflow: hidden

.event
  display: flex
  align-items: center
  border-top: 1px solid $grey-300
  border-bottom: 1px solid $grey-300
  font-size: 14px
  @include max-width(750)
    padding: 2em 0

  &__thumb
    position: relative
    width: 200px
    margin-right: 100px
    flex-shrink: 0

    @include max-width(750)
      display: none

    &::before
      content: ''
      display: block
      padding-top: 80%

  &__title
    font-size: 1.4em

  &__text
    margin: 1em 0
    color: $grey-500
    @include max-width(750)
      margin: 0.6em 0

  &__link
    color: $accent-color
    font-family: $title-font-family
    font-size: 1.1em
    font-weight: 700

.events-gallery
  margin: 80px 0

  &__slide
    height: 400px

  &__img
    opacity: .3
    transform: scale3d(0.92, 0.92, 0.92)
    height: 100%
    transition: opacity 300ms, transform 300ms

  &__title
    position: relative

  &__name
    position: absolute
    left: 0
    top: 0
    color: $accent-color
    font-size: 32px
    opacity: 0
    transform: translate3d(30px, 0, 0)
    transition: opacity 500ms, transform 500ms
    pointer-events: none

    &.is-active
      opacity: 1
      transform: translate3d(0, 0, 0)

.swiper-slide-active
  .events-gallery__img
    opacity: 1
    transform: scale3d(1, 1, 1)

.contacts
  overflow: hidden
  margin-top: 160px

  &__container
    position: relative
    padding-bottom: 120px

    &::before
      content: ''
      position: absolute
      top: -100vh
      right: -100vw
      bottom: 0
      left: 0
      z-index: -1
      background-color: $grey-200
      // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='28'%3E%3Cpath d='M56 26v2h-7.8c2.3-1.3 5-2 7.8-2zm-26 2a2 2 0 1 0-4 0h-4A26 26 0 0 0 0 16v-2h2a2 2 0 0 0-2-2v-2a4 4 0 0 1 4 3.6 28 28 0 0 1 2.8-3.9A8 8 0 0 0 0 6V4a10 10 0 0 1 8.2 4.2c1-1 2-1.8 3-2.6A14 14 0 0 0 0 0h7.8c2 1.1 3.7 2.6 5 4.5a28 28 0 0 1 3.6-2A20.1 20.1 0 0 0 14.3 0H17l1.3 1.7 4-1.1-.4-.6H26a28.4 28.4 0 0 1 4 0h4l-.3.6 4 1.1L39 0h2.7a20.1 20.1 0 0 0-2 2.5l3.5 2a16 16 0 0 1 5-4.5H56a14 14 0 0 0-11.2 5.6l3 2.6A10 10 0 0 1 56 4v2a8 8 0 0 0-6.8 3.7c1 1.2 2 2.5 2.8 3.9a4 4 0 0 1 4-3.6v2a2 2 0 0 0-2 2 28.4 28.4 0 0 1 2 0v2a26 26 0 0 0-22 12h-4zM7.7 28H0v-2c2.8 0 5.5.7 7.8 2zM56 20v2a20 20 0 0 0-14.3 6H39a22 22 0 0 1 17-8zm-39 8h-2.7A20 20 0 0 0 0 22v-2a22 22 0 0 1 17 8zm15-.4a28 28 0 0 1 2.8-3.9 8 8 0 0 0-13.6 0c1 1.2 2 2.5 2.8 3.9a4 4 0 0 1 8 0zm14.3-11.9 4-1.1a26 26 0 0 0-44.6 0l4 1.1a22 22 0 0 1 36.6 0zm-5.5 2.8a28 28 0 0 1 3.6-2 20 20 0 0 0-32.8 0c1.2.6 2.4 1.2 3.6 2a16 16 0 0 1 25.6 0zm-4.6 3.7c1-1 2-1.8 3-2.6a14 14 0 0 0-22.4 0l3 2.6a10 10 0 0 1 16.4 0z' fill-opacity='0.03'/%3E%3C/svg%3E")
      @include max-width(1520)
        left: -100vw

  &__list
    display: flex
    justify-content: space-between
    border-top: 1px solid $grey-300
    border-bottom: 1px solid $grey-300
    padding: 60px 0
    margin-top: 80px
    font-size: 18px

    @include max-width(750)
      padding: 30px 0
      flex-direction: column
      margin-top: 30px

  &__item
    @include min-width(750)
      max-width: 250px
    @include max-width(750)
      & + &
        margin-top: 20px



  &__title
    margin: 0

  &__link
    color: $accent-color
    font-family: $title-font-family
    font-weight: bold


.footer
  $footer-break-point: 600

  background-color: $black
  color: $white

  &__container
    display: flex
    justify-content: space-between
    align-items: center
    min-height: 80px
    @include max-width($footer-break-point)
      min-height: 75px

  &__nav
    display: flex
    align-items: center

  &__list
    display: flex
    @include max-width(730)
      display: none

  &__link
    font-size: 1.4rem
    letter-spacing: -0.04em
    line-height: 1
    transition: opacity 150ms

    &:hover
      opacity: .5

    & + &
      margin-left: 40px

  &__flag
    display: flex
    margin-left: 80px


.mobile-menu
  position: fixed
  top: 0
  bottom: 0
  left: -100%
  width: 100%
  z-index: 75
  background-color: rgba($white, 0.96)
  display: flex
  transform: translate3d(0, 0, 0)
  opacity: 0
  transition: opacity 300ms, transform 0ms 300ms

  &.is-shown
    opacity: 1
    transform: translate3d(100%, 0, 0)
    transition: opacity 300ms, transform 0ms


  &__inner
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    flex: 1
    text-align: center

  &__link
    font-size: 24px
    font-family: $title-font-family
    transition: color 300ms

    &:hover
      color: $accent-color

    & + &
      margin-top: 10px

  &__flag
    display: flex
    margin-top: 20px


video
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  object-fit: cover
  object-position: center

.mouse
  position: relative
  display: block
  width: 26px
  height: 40px
  border: 1px solid rgba($white, .25)
  border-radius: 20px

  &::after
    content: ''
    position: absolute
    top: 8px
    left: 50%
    width: 2px
    height: 8px
    margin-left: -1px
    border-radius: 10px
    background-color: $white
    animation: scroll-down 2400ms infinite cubic-bezier(1, 0, 0, 1), fade-scroll 2400ms infinite cubic-bezier(1, 0, 0, 1)

@keyframes fade-scroll
  0%
    opacity: 1
  80%
    opacity: 0
  81%
    opacity: 0
  100%
    opacity: 1

@keyframes scroll-down
  0%
    transform: translate3d(0, 0, 0)
  80%
    transform: translate3d(0, 12px, 0)
  81%
    transform: translate3d(0, 0, 0)
  100%
    transform: translate3d(0, 0, 0)

// .mouse
//   position: relative
//   width: 2px
//   height: 40px

//   &::after
//     content: ''
//     position: absolute
//     top: 0
//     right: 0
//     bottom: 0
//     left: 0
//     background-color: $white
//     animation: scroll-mouse 2.4s cubic-bezier(1, 0, 0, 1) infinite


// @keyframes scroll-mouse
//   0%
//     transform-origin: 0% 0%
//     transform: scale(1, 0)
//   50%
//     transform-origin: 0% 0%
//     transform: scale(1, 1)
//   50.1%
//     transform-origin: 0% 100%
//     transform: scale(1, 1)
//   100%
//     transform-origin: 0% 100%
//     transform: scale(1, 0)




.companies
  overflow: hidden
  border-bottom: 1px solid $grey-200

  &__inner
    display: flex
    flex-wrap: nowrap
    width: 100%
    padding: 30px 0

  &__list
    display: flex
    align-items: center
    animation: scroll-companies 40s infinite linear

  &__item
    margin-right: 150px
    opacity: .5
    @include max-width(700)
      margin-right: 75px


@keyframes scroll-companies
  to
    transform: translate3d(-200%, 0, 0)
