/**
 * Common styles
 */
html
  font-size: 62.5%
  scroll-behavior: smooth

body
  color: $text-main-color
  font: 400 #{ $text-main-size }/#{ $text-main-line-height } $text-font-family
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
