<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <div>
        {{ heading(1, 'Event агентство ', 'мирового уровня', 'hero__heading') }}

        <p class="hero__text">Организовываем и проводим запоминающиеся мероприятия в Санкт-Петербурге более 4 лет</p>

        <a href="#contacts" class="round-btn">
          <span class="round-btn__label">Оставить заявку</span>
          <span class="round-btn__icon">
            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" stroke="white" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L6 6L1 11" stroke-width="2"/>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>

  <div class="hero__bg">
    <video autoplay muted width="100%" height="100%" loop>
      <source src="/assets/test.mp4" type="video/mp4">
    </video>
  </div>
</section>
