{% macro image(img, alt) %}
  <picture>
    <img class="image lazy-load-image"
        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
        data-lazy-src="/assets/{{ img }}.jpg"
        alt="{{ alt }}">
    <img class="image" src="/assets/{{ img }}-blurred.png" alt="Blurred placeholder">
  </picture>
{% endmacro %}
