<section class="mobile-menu" id="mobile-menu">
  <div class="mobile-menu__inner">
    <ul class="mobile-menu__list">
      {% for link in navLinks %}
        <li class="mobile-menu__link">
          <a href="{{ link.href }}">{{ link.label }}</a>
        </li>
      {% endfor %}
    </ul>

    <a {% if lang === 'ru' %} href="/en" {% elif lang === 'en' %} href="/" {% endif %} class="mobile-menu__flag">
      {{ flag(countryFlag) }}
    </a>
  </div>
</section>
