{% extends 'src/njk/layouts/page.layout.njk' %}

{% from 'src/njk/components/Heading.njk' import heading as heading %}
{% from 'src/njk/components/Image.njk' import image as image %}
{% import 'src/njk/components/ListItems.njk' as listItems %}
{% import 'src/njk/components/Button.njk' as button %}

{% block main %}
  {% include 'src/njk/layouts/header.njk' %}
  {% include 'src/njk/components/hero.njk' %}
  {% include 'src/njk/sections/about.njk' %}
  {% include 'src/njk/sections/services.njk' %}
{% endblock %}
