{% extends 'src/njk/layouts/page.layout.njk' %}

{% set lang = 'ru' %}
{% set countryFlag = 'en' %}

{% set sections = {
  hero: {
    title: ['Event агентство ', 'мирового уровня', 'hero__heading'],
    msg: 'Организовываем и проводим запоминающиеся мероприятия по всему миру более 5 лет',
    btnLabel: 'Оставить заявку'
  },
  about: {
    title: ['Создаем моменты,', 'которые запоминаются.'],
    txt: ['Организация праздников и мероприятий – это напряженный и увлекательный
            процесс, требующий абсолютно индивидуального подхода к каждому клиенту.
            Именно поэтому мы всегда учитываем все пожелания и требования заказчика,
            добавив к этому свой большой опыт подготовки и проведения частных и
            корпоративных праздников.', 'Наши проекты – это уникальные события, которые разрабатываются под
            конкретные задачи каждого Заказчика. Команда Aromastar предлагает многообразие
            форматов, оригинальные сценарии и режиссерские находки, эксклюзивные площадки,
            декор и техническое сопровождение.'],
    btnLabel: 'Узнать о всех услугах агентства'
  },
  contacts: {
    title: ['Мы будем рады воплотить', 'самые сложные идеи.'],
    txt: 'Наше агентство превращает любые идеи в реальность, уделяя внимание каждой детали. Будем рады ответить на все интересующие вас вопросы!'
  },
  events: {
    title: ['Незабываемые впечатления', 'от нашего event агентства.'],
    txt: 'Aromastar радует своих клиентов уже более пяти лет. За это время наша компания реализовала большое количество event-проектов различного масштаба и направления:'
  },
  services: {
    title: ['Наш опыт будет', 'Вам полезен,'],
    txt: [
      'если Вы планируете корпоративное мероприятие для сотрудников вашей компании, мероприятие для партнеров, клиентов и СМИ, мероприятие для продвижения вашего бренда, деловое или выездное мероприятие.',
      'Менеджмент любого события – это длительный и сложный процесс, связанный с планированием и координацией работы большого количества подрядчиков. Мы управляем этим процессом и несем ответственность за конечный результат.'
    ],
    btnLabel: 'Узнать больше об Aromastar'
  }
} %}

{% set navLinks = [
  { _id: 1, label: 'Агенство', href: '#about'},
  { _id: 2, label: 'Услуги', href: '#services' },
  { _id: 3, label: 'Мероприятия', href: '#events' },
  { _id: 4, label: 'Контакты', href: '#contacts' }
] %}

{% set benefits = [
  { _id: 0, title: 'Большой опыт', text: 'Агентство Aromastar радует своих клиентов уже более пяти лет.  За это время наша компания реализовала большое количество event-проектов различного масштаба и направления.' },
  { _id: 1, title: 'Высокое качество услуг', text: 'В нашей команде работают профессиональные сценаристы, артисты, ведущие, аниматоры,  режиссеры-постановщики, фото- и видео операторы, которые нацелены на лучший результат!' },
  { _id: 2, title: 'Оригинальность', text: 'Наше агентство к каждому заказу находит свой подход. Event-менеджеры выявят все Ваши предпочтения, сценаристы напишут индивидуальную программу. Ваше событие получится по-настоящему ярким и особенным!' },
  { _id: 3, title: 'Реализация задач клиента', text: 'Специалисты нашего event-агентства определят, что Вам действительно нужно и, исходя из ваших пожеланий, интересов, предложат наиболее подходящий вариант мероприятия.' }
] %}

{% set contacts = [
  { _id: 0, label: '+7 (911) 998-85-70', title: 'Телефон', href: 'tel:+79119988570' },
  { _id: 1, label: 'aromastar.spb@gmail.com', title: 'Почта', href: 'mailto:aromastar.spb@mail.com?subject=Aromastar%20events' },
  { _id: 2, label: 'ул. Авиактонструкторов, 5/22, Санкт-Петербург, Россия', title: 'Адрес', href: 'https://www.google.com/maps/place/Prospekt+Aviakonstruktorov,+5,+Sankt-Peterburg,+197372/data=!4m2!3m1!1s0x4696343397b794c5:0x4c95a7d231a996f7?sa=X&ved=2ahUKEwjJyuuW8pD5AhUCiIsKHS8HAngQ8gF6BAgmEAE' }
] %}

{% set services = [
  { _id: 4, image: 'tiktok', title: 'Продвижение и создание медиа контента', text: 'Мы сотрудничаем с популярными тиктокерами, блогерами и стримерами для создания медиа контента, который будем помогать развивать Ваши идеи и цели.', link: { label: 'Узнать больше', href: '#contacts' } },
  { _id: 0, image: 'corp', title: 'Корпоративные мероприятия', text: 'Агентство Aromastar организует и проводит деловые мероприятия, направленные на поддержание интереса клиентов к Вашей компании, презентацию новой линейки продуктов или услуг и многое другое!', link: { label: 'Узнать больше', href: '#contacts' } },
  { _id: 1, image: 'concert', title: 'Организация концертов', text: 'Яркие эмоции, грандиозные шоу и концерты, мировые звезды шоу бизнеса и многое другое на самых крупных площадках по всему миру!', link: { label: 'Узнать больше', href: '#contacts' } },
  { _id: 2, image: 'travel', title: 'Экскурсионные туры', text: 'Организовываем красочные и интересные экскурсионные туры по всему миру.', link: { label: 'Узнать больше', href: '#contacts' } },
  { _id: 3, image: 'conference', title: 'Организация и проведение конференций', text: 'Агенство Aromastar поможет осуществить качественную организацию конференции, деловой встречи, собрания любой отрасли бизнеса.', link: { label: 'Узнать больше', href: '#contacts' } }
] %}

{% set events = [
  { _id: 0, width: 400, image: 'baikal', title: 'Завораживающий Байкал' },
  { _id: 0, width: 500, image: 'serebro', title: 'Концерт группы SEREBRO в Китае' },
  { _id: 0, width: 300, image: 'moscow', title: 'Новогодняя ярмарка в Москве' },
  { _id: 0, width: 260, image: 'georgia', title: 'Экскурсионный тур в Грузию' },
  { _id: 0, width: 400, image: 'birthday', title: 'День рождение Алисы' }
] %}

{% from 'src/njk/components/Heading.njk' import heading as heading %}
{% from 'src/njk/components/Image.njk' import image as image %}
{% import 'src/njk/components/ListItems.njk' as listItems %}
{% import 'src/njk/components/Button.njk' as button %}
{% from 'src/njk/components/Flags.njk' import flags as flag %}

{% block main %}
  {% include 'src/njk/layouts/header.njk' %}

  <main>
    {% include 'src/njk/sections/hero.njk' %}
    {% include 'src/njk/sections/about.njk' %}
    {% include 'src/njk/sections/services.njk' %}
    {% include 'src/njk/sections/events.njk' %}
    {% include 'src/njk/sections/contacts.njk' %}
    {% include 'src/njk/components/MobileMenu.njk' %}
  </main>

  {% include 'src/njk/layouts/footer.njk' %}
{% endblock %}
