{% set benefits = [
  { _id: 0, title: 'Большой опыт', text: 'Агентство Aromastar радует своих клиентов уже более пяти лет.  За это время наша компания реализовала большое количество event-проектов различного масштаба и направления.' },
  { _id: 1, title: 'Высокое качество услуг', text: 'В нашей команде работают профессиональные сценаристы, артисты, ведущие, аниматоры,  режиссеры-постановщики, фото- и видео операторы, которые нацелены на лучший результат!' },
  { _id: 2, title: 'Оригинальность', text: 'Наше агентство к каждому заказу находит свой подход. Event-менеджеры выявят все Ваши предпочтения, сценаристы напишут индивидуальную программу. Ваше событие получится по-настоящему ярким и особенным!' },
  { _id: 3, title: 'Реализация задач клиента', text: 'Специалисты нашего event-агентства определят, что Вам действительно нужно и, исходя из ваших пожеланий, интересов, предложат наиболее подходящий вариант мероприятия.' }
] %}

<section class="section about" id="about">
  {% include '../components/SectionLine.njk' %}
  <div class="container">
    <div class="content">
      <div class="content__inner">
        {{ heading(2, 'Создаем моменты,', 'которые запоминаются.') }}
        <p class="p">Организация праздников и мероприятий – это напряженный и увлекательный
          процесс, требующий абсолютно индивидуального подхода к каждому клиенту.
          Именно поэтому мы всегда учитываем все пожелания и требования заказчика,
          добавив к этому свой большой опыт подготовки и проведения частных и
          корпоративных праздников.</p>
        <div class="about__img">
          {{ image('/images/placeholder.png', 'asd')}}
        </div>
        <p class="p">Наши проекты – это уникальные события, которые разрабатываются под
          конкретные задачи каждого Заказчика. Команда Aromastar предлагает многообразие
          форматов, оригинальные сценарии и режиссерские находки, эксклюзивные площадки,
          декор и техническое сопровождение.</p>

        <ul class="about__benefits">
          {% for item in benefits %}
            <li class="about__benefit">
              {{ listItems.benefit(item.title, item.text) }}
            </li>
          {% endfor %}
        </ul>

        {{ button.link('Узнать больше об Aromastar', '#contacts') }}
      </div>
    </div>
  </div>

  <div class="about__bg">
    {{ image('/images/bg-map.jpg', 'Map') }}
  </div>
</section>
