<section class="section contacts js-section" id="contacts">
  {% include '../components/SectionLine.njk' %}
  <div class="container contacts__container">
    <div class="content">
      <div class="content__inner">
        {{ heading(2, sections.contacts.title[0], sections.contacts.title[1]) }}
        <p class="p">{{ sections.contacts.txt }}</p>
      </div>
        <ul class="contacts__list">
          {% for contact in contacts %}
            <li class="contacts__item">
              <h5 class="contacts__title">{{ contact.title }}:</h5>
              <a href="{{ contact.href }}" class="contacts__link" {% if contact._id === 2 %} target="_blank" {% endif %}>{{ contact.label | safe }}</a>
            </li>
          {% endfor %}
        </ul>
    </div>
  </div>
</section>
