<section class="section events js-section" id="events">
  {% include '../components/SectionLine.njk' %}
  <div class="container">
    <div class="content">
      <div class="content__inner">
        {{ heading(2, sections.events.title[0], sections.events.title[1]) }}
        <p class="p">{{ sections.events.txt }}</p>
      </div>
    </div>
  </div>

  <div class="events-gallery">
    <div class="swiper" id="swiper">
      <div class="swiper-wrapper">
        {% for event in events %}
          <div class="swiper-slide events-gallery__slide" style="height: 400px; width: {{event.width}}px" data-slide-index="{{ loop.index - 1 }}">
            <div class="events-gallery__img">
              {{ image(event.image, event.title) }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <div class="content__inner events-gallery__title">
        {% for event in events %}
          <h3 class="events-gallery__name">{{ event.title }}</h3>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
