{% set services = [
  { _id: 0, title: 'Корпоративные праздники', text: 'Проведение корпоративов – это одна из основных сфер деятельности компании Aromastar', link: { label: 'Узнать больше', href: '#contacts' } },
  { _id: 1, title: 'Организация концертов', text: 'Мировые звезды шоу-бизнеса. Яркие шоу и концерты на самых крупных площадках России', link: { label: 'Узнать больше', href: '#contacts' } },
  { _id: 2, title: 'Экскурсионные туры', text: 'Организовываем красочные и интересные экскурсионные туры по всей России и СНГ', link: { label: 'Узнать больше', href: '#contacts' } },
  { _id: 3, title: 'Организация и проведение конференций', text: 'Услуги по организации конференций, форумов и других деловых мероприятий', link: { label: 'Узнать больше', href: '#contacts' } }
] %}

<section class="section section--grey" id="services">
  {% include '../components/SectionLine.njk' %}

  <div class="container">
      <div class="content">
        <div class="content__inner">
          {{ heading(2, 'Наш опыт будет', 'Вам полезен,') }}
          <p class="p">если Вы планируете корпоративное мероприятие для сотрудников вашей компании, мероприятие для партнеров, клиентов и СМИ, мероприятие для продвижения вашего бренда, деловое или выездное мероприятие.</p>
          <p class="p">Менеджмент любого события – это длительный и сложный процесс, связанный с планированием и координацией работы большого количества подрядчиков. Мы управляем этим процессом и несем ответственность за конечный результат.</p>
        </div>
      </div>

      <div class="content services__events">
        <div class="services__video">
          <video muted width="100%" height="100%" id="events-video">
            <source src="/assets/video.mp4" type="video/mp4">
          </video>

          <button class="services__video-btn" id="events-video-btn"></button>
        </div>

        <ul class="services__list">
          {% for service in services %}
            <li class="services__item">
              {{ listItems.event(service.title, service.text, service.link.label, service.link.href) }}
            </li>
          {% endfor %}
        </ul>

        {{ button.link('Узнать больше об Aromastar', '#contacts') }}
      </div>
  </div>
</section>
